<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <title>CatUch - Платфома помощи со школой</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/main.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="font-source overflow-x-hidden">
    {% block header %}

    {% endblock %}
    <main class="bg-blue-400 w-full min-h-[48rem] py-24">
    <div class="p-12 w-3/4 shadow bg-white border-gray-500 min-h-56 rounded-[4rem] m-auto">
        {% block content %}
        {% endblock %}
    </div>
    </main>    
    
        {% include 'layouts/particles/footer.html.jinja' %}
</body>
</html>