{% extends 'layouts/base.html.jinja' %}
{% from "macros/form/form_wrapper.html.jinja" import form_wrapper with context %}
{% from "macros/form/form_input.html.jinja" import form_input with context %}
{% from "macros/form/form_submit.html.jinja" import form_submit with context %}

{% block content %}
{# dashboard/academic_subject/ #}
    {% call form_wrapper(action=url_for('dashboard_academic_class.store'))%} 
        {{form.hidden_tag()}}
        {{ form_input(item=form.title)}}
        {{ form_submit(text='Создать')}}
    {% endcall %}

{% endblock %}