<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1837.4 1305.1" style="enable-background:new 0 0 1837.4 1305.1;" xml:space="preserve">
<style type="text/css">
	.hedbob0{opacity:0.68;fill:#8DC4FC;}
</style>
<g>
	<circle class="hedbob0" cx="1217.5" cy="722.9" r="551"/>
	<circle class="hedbob0" cx="339.8" cy="280.8" r="251.9"/>
	<circle class="hedbob0" cx="370.7" cy="965.1" r="126.8"/>
</g>
</svg>
