{% macro table_head(items, show_id=True, show_actions=True) %}
    <thead class="border-b-2 border-t-2">
        {% if show_id: %}
            <th class="p-4 text-left" scope="col">ID</th>
        {% endif %}
        {% if show_actions: %}
            <th class="p-4" scope="col">Действия</th>
        {% endif %}
        {% for item in items %}
            <th class="p-4" scope="col">{{ item }}</th>
        {% endfor %}
    </thead>
{% endmacro %}