{% macro form_submit(text) -%}
    <div class="mb-3">
        <input class="cursor-pointer p-2 px-4 rounded-full text-black" name="submit" type="submit"
            value="{{ text }}">
    </div>
{%- endmacro %}