{% macro form_submit(text) -%}
    <div class="mb-3">
        <input class="cursor-pointer p-4 rounded-full text-white bg-blue-950 text-3xl" name="submit" type="submit"
            value="{{ text }}">
    </div>
{%- endmacro %}