{% extends 'layouts/dashboard.html.jinja' %}
{% from "macros/items/items.html.jinja" import item with context %}


{% block content %}
    <h1 class="text-5xl mb-8 text-center font-semibold text-blue-950 hover:underline"><a href="{{url_for('dashboard_academic_class.create')}}">Классы</a></h1>
    {% for academic_class in academic_classes %}
    {{item('dashboard_academic_class', ['ID', 'Название'], [academic_class.id, academic_class.title], 2)}}
    {% endfor %}
{% endblock %}