{% extends 'layouts/base.html.jinja' %}
{% from "macros/pagination.html.jinja" import pagination with context %}
{% from "macros/button_primary.html.jinja" import button_primary with context %}
{% from "macros/table/table_wrapper.html.jinja" import table_wrapper with context %}
{% from "macros/table/table_head.html.jinja" import table_head with context %}
{% from "macros/table/table_row.html.jinja" import table_row with context %}

{% block content %}
        <div class="mb-4">
            {{ button_primary(href=url_for('dashboard_academic_class.create'), text='Добавить') }}
        </div>

        {% call table_wrapper() %}
            {{ table_head(items=[
                'Наименование',
            ]) }}
            <tbody>
                {% for academic_class in academic_classes %}
                    {{ table_row(entity="dashboard_academic_class", id=academic_class.id, items=[
                        academic_class.title
                    ], action_delete=false) }}
                {% endfor %}
            </tbody>
        {% endcall %}
        {{ pagination(url='dashboard_academic_class.index', entities=academic_classes) }}

{% endblock %}